{% for flashMessage in app.session.flashbag.get('mensajecreado') %}
    <div class="row">

        <div class="col-md-12">
            <div class="alert alert-success"><strong>Bien hecho!</strong> {{ flashMessage }}</div>
        </div>

    </div>
{% endfor %}