            			
                        <div class="logo">
            				<a href="{{ url('inicio') }}">
            				    <img src="{{ asset('public/neon/assets/images/fix/FINAL_SERVICE-ME.png') }}" width="175" alt="" />
                            </a>
            			</div>
            			<div class="sidebar-collapse">
            				<a href="javascript:;" class="sidebar-collapse-icon">
            					<i class="entypo-menu"></i>
            				</a>
            			</div>
            			<div class="sidebar-mobile-menu visible-xs">
            			<a href="javascript:;" class="with-animation">
            				<i class="entypo-menu"></i>
            			</a>
            			</div>