                <!-- Inicio -->
            			<li class="active">
            				<a href="{{ url('inicio') }}">
            					<i class="entypo-home"></i>
            					<span class="title">Inicio</span>
            				</a>
            			</li>
                
                <!-- ServiceCo -->
                        <li>
                            <a href="javascript:;">
                                <i class="entypo-megaphone"></i>
                                <span class="title">ServiceCo</span>
                            </a>
                        </li>
                <!-- Administraci贸n -->
                        <li>
        					<a href="javascript:;">
        						<i class="entypo-database"></i>
        						<span class="title">Administraci贸n</span>
        					</a>
            					<ul>
      
            						
            						<li>
            							<a href="javascript:;">
            								<i class="entypo-user"></i>
            								<span class="title">Usuarios</span>
            							</a>
            							<ul>
            								<li>
            									<a href="{{ url('indexUsuarios') }}">
            										<i class="entypo-users"></i>
            										<span class="title">Lista Usuarios</span>
                                  				</a>
            								</li>
                                            <li>
            									<a href="{{ url('agregarUsuario') }}">
            										<i class="entypo-user-add"></i>
            										<span class="title">Nuevo Usuario</span>
            									</a>
            								</li>
            							</ul>
            						</li>
                                    <li>
            							<a href="javascript:;">
            								<i class="entypo-doc-text"></i>
            								<span class="title">Formularios</span>
            							</a>
            						</li>
            					</ul>
    				    </li>
                <!-- Chat -->
                        <li>
    						<a href="#" data-toggle="chat" data-collapse-sidebar="1">
    							<i class="entypo-chat"></i>
    							Chat
    							<span class="badge badge-success chat-notifications-badge is-hidden">0</span>
    						</a>
    					</li>
                <!-- Cerrar Sesi贸n --> 
            			<li>
            				<a href="javascript:;">
            					<i class="entypo-logout"></i>
            					<span class="title">Cerrar Sesi贸n</span>
            				</a>
            			</li>
                        
            