                    	
                        <ul class="user-info pull-left pull-none-xsm">
                    		<li class="profile-info dropdown">
                    			<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    				<img src="{{ asset('public/neon/assets/images/fix/niño.png') }}" alt="" width="50"  />
                                 	Alejo&nbsp;Fix
                    			</a>
                    			<ul class="dropdown-menu">
                    				<li class="caret"></li>
                    				<li>
                    					<a href="javascript:;">
                    						<i class="entypo-user"></i>
                    						Editar Perfil
                    					</a>
                    				</li>
                    			</ul>
                    		</li>
                    	</ul>