                    <!-- logo -->
                    <div class="navbar-brand">
                        <a>
                            <img src="{{ asset('public/neon/assets/images/fix/service_CO.png') }}" width="90"/>
                        </a>
                    </div>

                    <!-- main menu alerts -->
                    <ul class="navbar-nav">
                        <li class="sep">
                            <a>
                                <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </a>
                        </li>
                        <li class="opened active root-level">
                            <a>
                                <x class="entypo-traffic-cone"></x>
                                <span class="title">HFC</span>
                                <span class="badge badge-secondary">3</span>
                            </a>
                        </li>
                        <li class="opened active root-level">
                            <a>
                                <x class="entypo-network"></x>
                                <span class="title">Internet</span>
                                <span class="badge badge-secondary">1</span>
                            </a>
                        </li>
                        <li class="opened active root-level">
                            <a>
                                <x class="entypo-monitor"></x>
                                <span class="title">Televisión</span>
                                <span class="badge badge-secondary">1</span>
                            </a>
                        </li>
                        <li class="opened active root-level">
                            <a>
                                <x class="entypo-phone"></x>
                                <span class="title">Telefonía</span>
                                <span class="badge badge-secondary">1</span>
                            </a>
                        </li>
                        <li class="opened active root-level">
                            <a>
                                <x class="entypo-comment"></x>
                                <span class="title">Comunicados</span>
                                <span class="badge badge-default">0</span>
                            </a>
                        </li>
                    </ul>

                    <!--right menu -->
                    <ul class="nav navbar-right pull-right">
                        <li class="sep"></li>
                        <li>
                            <a href="javascript:;">
                                Cerrar Sesión <y class="entypo-flight"></y>
                            </a>
                        </li>
                        <!-- mobile only -->
                        <li class="visible-xs">

                            <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                            <div class="horizontal-mobile-menu visible-xs">
                                <a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
                                    <i class="entypo-menu"></i>
                                </a>
                            </div>

                        </li>
                    </ul>