                        
            			<ul class="list-inline links-list pull-right">
            				<!-- Service Co -->
            				<li class="dropdown language-selector">
            					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
            					   <img src="{{ asset('public/neon/assets/images/fix/service_CO.png') }}" width="82"/>
                                </a>
            					<ul class="dropdown-menu pull-left">
            						<li>
            							<a href="javascript:;">
            								<i class="entypo-monitor"></i>
            								<span>Vista Televisor</span>
            								
            							</a>
            						</li>
            						<li>
            							<a href="javascript:;">
            								<i class="entypo-mobile"></i>
            								<span>Vista Tablet</span>
            								
            							</a>
            						</li>
            					</ul>
            				</li>
            				<li class="sep"></li>
            				<!-- Chat -->
            				<li class="sep"></li>
            				<!-- Cerrar Cesión -->
            				<li>
            					<a href="javascript:;">
            					Cerrar Cesión <i class="entypo-logout right"></i>
            					</a>
            				</li>
            			</ul>