{% extends 'neon/base.html.twig' %}
    
    {% block body %}
        {{ parent() }}

        <div class="page-error-404">

            <div class="error-symbol">
                <img src="{{ asset('public/images/otros/dinoerror.png') }}" />
                <h1><b>Error 404</b></h1>
            </div>

            {% for flashMessage in app.session.flashbag.get('mensajeerror') %}

                <div class="error-text">
                    <p>{{ flashMessage }}</p>
                </div>

            {% endfor %}

            <a href="javascript:window.history.back();">&laquo; Intentar Otra Acción </a>

        </div>

    {% endblock %}
       
{% block javascripts  %}
    {{ parent() }}
{% endblock %}