{% extends 'neon/base.html.twig' %}
    
    {% block body %}
    {{ parent() }}

	<div class="page-error-404">
		
        <div class="error-symbol">
			<i class="glyphicon glyphicon-thumbs-down"></i>
		</div>
		
        {% for flashMessage in app.session.flashbag.get('mensajeerror') %}
  		
        <div class="error-text">
    		<h2>Error 404</h2>
    		<p>{{ flashMessage }}</p>
   		</div>
		
        {% endfor %}
      
        <a href="javascript:window.history.back();">&laquo; Intentar Otra Acción </a>
                
	</div>

        
    {% endblock %}
       
{% block javascripts  %}
    {{ parent() }}
{% endblock %}