{% extends 'neon/base.html.twig' %}



    {% block body %}
        {{ parent() }}

        <h3>
            <span class="label label-warning">Service Desk</span>
            Comunicar Alto Impacto
        </h3>
        <hr />
        <div class="profile-env">
            <section class="profile-info-tabs">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="">Avisos</a></li>
                            <li role="presentation" class=""><a href="">Informativos</a></li>
                            <li role="presentation" class=""><a href="">Notas</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="panel-body">



        </div>

    {% endblock %}


{% block javascripts  %}
    {{ parent() }}





{% endblock %}