{% extends 'neon/base.html.twig' %}
    
    
    
    {% block body %}
    {{ parent() }}

        <h3>
            <span class="label label-warning">Service Desk</span>
            Administración ServiceCo <!-- <img src="{{ asset('public/neon/assets/images/fix/service_CO.png') }}" width="82"/> -->
        </h3>
        <hr />

        <div class="panel-body">



        </div>



    {% endblock %}
    
        
{% block javascripts  %}
    {{ parent() }}





{% endblock %}