
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title"><strong><y class="fa fa-comments"></y> I n f o r m a t i v o s</strong></div>
                        </div>
                        <div class="panel-body">


                        </div>
                    </div>
                </div>