{% extends 'neon/base.html.twig' %}

    {% block body %}
    
        <h3>
            hola index usuarios
        </h3>
        
    {% endblock %}


{% block javascripts  %}
    {{ parent() }}

{% endblock %}