{% extends 'neon/base.html.twig' %}


    {% block body %}
        {{ parent() }}

        <p></p><br/>
        <p></p><br/>
    {% endblock %}


{% block javascripts  %}
    {{ parent() }}


{% endblock %}