<!DOCTYPE HTML>
	<html>
		<head>
			<title>.:: Inicio de Sesion ::.</title>
		</head>
		<body>
			
			<form action="{{ path('login_check') }}" method="POST">
				
				<label>Usuario</label>
				<input type="text" name="_usuario" value="{{ last_username|e }}" />
				<br />
				<label>Password</label>
				<input type="password" name="_contrasena"  />
				
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<input type="submit" value="Enviar" />
                
                {% if error -%}
    				<div class="col-md-12 error-message text-center">
    					<p>  <i class="fa fa-exclamation-triangle" aria-hidden="true">
    							{{ error.messageKey|trans(error.messageData, 'security') }}
    						</i>
    					</p>
    				</div>
    				<br>
    			{%- endif %}
                
			</form>
		</body>
	</html>